
body {
    background-color: #faf6ef;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #353535;
    margin: auto;
}

#logo {
    float: left;
}

#title {
    font-size: 170%;
}

#navbar {
    margin: auto;
    padding: 1vw;
    background-color: #8aa5b8;
    font-family: "Playfair Display", sans-serif;
    color: #faf6ef;
    font-size: 17px;
    display: block;
    text-decoration: none;
    text-align: center;
    letter-spacing: 1px;
}

#navbar2 {
    padding: 2px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar2 a{
    text-transform: uppercase;
    padding: 8px;
    margin: 0%;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #faf6ef;
    text-decoration: none;
    display: inline-block;
    border-bottom: 0.2px solid #6d8697;
}

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #faf6ef;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;

}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 70%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: rgba(0, 0, 0, 0.6); /* Semi-transparent black background */
    padding: 5px;
    border-radius: 10px; /* Optional: Rounded corners */
}

.banner-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
    
}

.banner-text p {
    font-size: 20px;
}


header {
    font-family: "Playfair Display", sans-serif;
}

body > main article {
    margin: auto;
}

#container {
    display: flex;
}

#sidebar {
    width: 250px;
    color: #353535;
    padding: 20px;
    float: left;
    width: 250px;
}

#main-content {
    flex: 1; 
    padding: 20px;
    background-color: #faf6ef;
    float: left;
}

#main-content aside{
    width: 20%;
    justify-content: left;
}

#sidebar #main-content {
    margin: 0%;
    padding: 0%;
}

#main-content > div{
    margin: auto;
    justify-content: left;
}

#me {
    border-radius: 30%;
}


form {
    text-align: center;
}

#form-title {
    text-align: center;
}

#bottom {
    background-color: #8aa5b8;
    margin: auto;
    padding: 1%;
    color: #faf6ef;
    font-size: 15px;
}

footer a{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-left: 0px;
    letter-spacing: 1px;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #faf6ef;
    text-decoration: none;
}
footer h2{
    margin-right: 10px;
    margin-top: 15px;
    margin-left: 0px;
    font-family: "Playfair Display"
}

#logobottom {
    float: left;
}